/.gradle/
/.idea/
/lab2/.gradle/
/lab1/build/
/lab2/controllers/build/
/lab2/services/build/
/lab2/dao/build/
/lab2/build/
/lab2/App/build
/lab5/build/
/lab5/catMicroservice/build/
/lab5/ownerMicroservice/build/
/lab5/interfaceMicroservice/build/
/lab5/catMicroservice/controllers/build/
/lab5/ownerMicroservice/controllers/build/
/lab5/interfaceMicroservice/controllers/build/
/lab5/catMicroservice/app/build/
/lab5/ownerMicroservice/app/build/
/lab5/interfaceMicroservice/app/build/
/lab5/catMicroservice/services/build/
/lab5/ownerMicroservice/services/build/
/lab5/catMicroservice/domain/build/
/lab5/ownerMicroservice/domain/build/
/lab5/catMicroservice/dao/build/
/lab5/ownerMicroservice/dao/build/
/lab5/interfaceMicroservice/services/build/
