/.gradle/
/.idea/
/lab2/.gradle/
/lab1/build/
/lab2/dao/build/resources/main/application.properties
/lab2/services/build/resources/main/application.properties
/lab2/dao/build/tmp/compileJava/compileTransaction/stash-dir/Cat.class.uniqueId0
/lab2/dao/build/tmp/compileJava/compileTransaction/stash-dir/CatDAO.class.uniqueId5
/lab2/dao/build/classes/java/main/CatRepository.class
/lab2/dao/build/tmp/compileJava/compileTransaction/stash-dir/CatRepository.class.uniqueId2
/lab2/dao/build/libs/dao-plain.jar
/lab2/dao/build/tmp/compileJava/compileTransaction/stash-dir/Owner.class.uniqueId3
/lab2/dao/build/tmp/compileJava/compileTransaction/stash-dir/OwnerDAO.class.uniqueId4
/lab2/dao/build/classes/java/main/OwnerRepository.class
/lab2/dao/build/tmp/compileJava/compileTransaction/stash-dir/OwnerRepository.class.uniqueId1
/lab2/services/src/main/resources/META-INF/persistence.xml
/lab2/services/build/tmp/compileJava/compileTransaction/stash-dir/Program.class.uniqueId0
/lab2/controllers/build/
/lab2/build/
